.team {
    background: url(../img/team/specialtys-bg.png) 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.team.container {
    display: flex;
    padding: 0 $pm;
    margin-bottom: 50px;
}

.team-info {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto 0;
    color: $fcolor;
    order: 2;

    p:first-of-type {
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        margin-top: 10px;
    }
    p:last-of-type {
        font-weight: 400;
        margin-top: 10px;
        font-size: 14px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.9);
    }
}
.team-img {
    flex-basis: 50%;
    position: relative;
    order: 1;
    text-align: right;
}

.team-img img {
    width: 87.1%;
}

.team-img__border_element {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 37.9%;
    height: 43.1%;
    border: 20px solid $bgcolor;
}

@media (max-width: 800px) {
    .team {
        flex-wrap: wrap;
    }
    .team-info {
        flex-basis: 100%;
    }
    .team-img {
        flex-basis: 100%;
        order: 3;
    }
}
